.wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.item label {
  padding-left: 5px;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.item label:hover {
  color: rgb(61, 61, 61);
}
